<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Day and night</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/f/8/f88v7jzah6.ico" type="image/x-icon">
    <meta name="description" content="days">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
  </head>
  <body>
    <form method="get" action="/">
      <input name="location" type="text" value="{{location}}">
      <input name="date" type="date" value={{date}}>
      <input type="submit">
    </form>

    {% if error %}
      <p>Couldn't process your data or don't have it yet, data is for Melbourne, 2017-01-01</p>
    {% else %}
      <p>{{location}}, {{date}}</p>
    {% endif %}

    <div id="day" style="background: linear-gradient(
      to right,
        black,
        darkblue {{day_percentages["darkbluerise"]}}%,
        red {{day_percentages["redrise"]}}%,
        orange {{day_percentages["orangerise"]}}%,
        yellow {{day_percentages["yellowrise"]}}%,
        yellow {{day_percentages["yellowset"]}}%,
        orange {{day_percentages["orangeset"]}}%,
        red {{day_percentages["redset"]}}%,
        darkblue {{day_percentages["darkblueset"]}}%,
        black);">
      <table>
        <tr>
          <th>0</th><th>1</th><th>2</th><th>3</th>
          <th>4</th><th>5</th><th>6</th><th>7</th>
          <th>8</th><th>9</th><th>10</th><th>11</th>
          <th>12</th><th>1</th><th>2</th><th>3</th>
          <th>4</th><th>5</th><th>6</th><th>7</th>
          <th>8</th><th>9</th><th>10</th><th>11</th>
          <th>0</th>
        </tr>
      </table>
    </div>
  </body>
</html>