<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/style.css">
		<title>Day and night</title>
		<link rel="shortcut icon" href="http://www.iconj.com/ico/f/8/f88v7jzah6.ico" type="image/x-icon">
		<meta name="description" content="days">
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
	</head>
	<body>
		<div id="day"
			style="background: linear-gradient(to right,
																				darkblue,
																				red {{day[0]}}%,
																				yellow,
																				red {{day[1]}}%,
																				darkblue);">
		</div>
<!-- {# <div id="day2"
			style="background: linear-gradient(to right,
																				darkblue,
																				red {{day2[0]}}%,
																				yellow,
																				red {{day2[1]}}%,
																				darkblue);">
		</div> #} -->
	</body>
</html>